$font-family-sans-serif:  'Scada', 'PT Sans', sans-serif;
$font-family-serif:  'Arimo', 'PT Serif', serif;
$headings-font-family: $font-family-sans-serif;
//$headings-font-family: "PT Sans Caption",$font-family-sans-serif;
$font-family-base: $font-family-serif;

$body-bg: transparent;
$body-color: #fff;
$link-color: #da2;
$btn-bg: grey;
$btn-color: lighten($btn-bg, 50%);
$secondary-bg: #F1EED9;

$brand-primary: #cd9;//lighten($body-color, 20%);
$brand-danger: darken($body-bg, 30%);

$waycolor: $link-color;
$text_background: transparent;
$animation_duration: 2s;

$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        false;
$enable-hover-media-query:  false;
$enable-grid-classes:       false;
$enable-print-styles:       true;
