@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
body {
  background: url('../img/background.jpg');
}
.container {
  @include make-container();
  @include make-container-max-widths();
}
#tools_wrapper {
  @include make-row();
  background: $body-bg;
  .ways {
    padding: 0.5em;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }
  .buttons {
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    text-align: right;
  }
  button {
    display: inline-block;
  }
}
#content_wrapper {
  @include make-row();
  background: $text_background;
  border-radius: 5px;
  border-style: solid;
  border-width: 81px 103px 77px 66px;
  border-image: url(../img/border.png) 81 103 77 66 repeat;
}
.sidebar {
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }
}
.content {
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(10);
    @include make-col-offset(1);
  }
  &.narrow {
    @include media-breakpoint-up(md) {
      @include make-col(9);
      margin-left: 0;
    }
  }
  padding: 1em;
  ul {
    margin: 0;
    padding: 0 0 0 1em;
  }
  ul.options {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    list-style-type: none;
    .title {
      font-weight: bold;
      color: white;
    }
    .subtitle {
      font-family: $headings-font-family;
      color: #ddd;
    }
    li a {
      text-decoration: none;
    }
    .green {
      padding: 0.5em;
      border-radius: 5px;
      background: linear-gradient(to bottom, rgba(45, 149, 181, 0.6) 0%, rgba(54, 77, 92, 0.6) 100%);
    }
    .red {
      padding: 0.5em;
      border-radius: 5px;
      background: linear-gradient(to bottom, rgba(149, 50, 181, 0.6) 0%, rgba(90, 50, 70, 0.6) 100%);
    }
    .blue {
      padding: 0.5em;
      border-radius: 5px;
      background: linear-gradient(to bottom, rgba(49, 50, 181, 0.6) 0%, rgba(50, 50, 120, 0.6) 100%);
    }
    li:hover {
      background-color: rgba(153,136,119,0.2);
      cursor: pointer;
    }
    li {
      margin-bottom: 0.5em;
    }
  }
  section {
    border-top: 1px dashed #bbb;
    padding-top: 1em;
  }
  .room-start {
    border-top: none;
  }
  h3 {
    text-align: center;
  }
}
.cycle {
  color: darkgreen;
  border-bottom: darkgreen dashed 1px;
}
hr {
  width: 50%;
  border-color: $body-color;
}
.btn-outline-primary,
.btn-outline-danger {
  border: none;
  border-color: transparent;
}
.center {
  text-align: center;
}
